
/* Fuentes */

  @font-face {
    font-family: 'Andika';
    src: url("fuentes/Andika-R.ttf");
  }
  

  html * {
   font-family: "Arial", sans-serif;
  }

  body {
    background: #183026 url('../images/bg.jpg') no-repeat;
    background-size: cover;
    background-position: center 0;
    background-attachment: fixed;
    margin-left: 20%;
    margin-right: 20%;
  }
  
  h1 {
    font-family: Andika;
    font-size: 80px;
    text-shadow: 0px 0px 8px white;
    text-align: center; 
  }
  
  p {
    color: white;
    font-size: 18px;
    text-align: justify;
    text-indent: 0.8em;
  }
  
  a {
    text-decoration: none;
    color: #A9A9F5;
    font-size: 22 px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  ul li {
    color: #A9D0F5;
    text-align: justify; 
  }

  span {
    color: #B404AE;
    font-weight: bold;
  }
  
  footer {
    position:fixed;
    left:0;
    bottom:0;
    height:20px;
    width:100%;
    padding: 0.6em 0 0.6em 0;
    box-shadow: inset 0px 10px 60px 0px rgba(255,255,255,0.15);
  }
  
  pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }
  
  .thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }

  th, td  { 
    vertical-align: top; 
    text-align: left; 
  }   
  
  /* Contenido */

  #contenido {
    padding-bottom: 60px;
  }
  
  #tablaout {
    table-layout: fixed;
    width: 100%;
  }

  #finaltable:hover td { 
    background-color: blue; 
  } 
  tr:nth-child(odd)    { 
    background-color:#eee; 
  }
  tr:nth-child(even)    { 
    background-color:#58FAF4; 
  }
  input        { 
    text-align: right;  border: none;       
  }     /* Align input to the right  */
  textarea     { 
    border: outset; border-color: white;       
  }                        
  table        { 
    border: inset; border-color: white; 
  }
  .hidden      { 
    display: none; 
  }
  .unhidden    { 
    display: block; 
  }
  table.center { 
    margin-left:auto; margin-right:auto; 
  }
  #result      { 
    border-color: red; 
  }
  tr.error       {  
    font-weight: bold;
    color: white; 
  }
  span.error {
    font-weight: bold;
    color: red;
  }

  #initialinput {
   color: #B404AE;
   font-weight: bold;
  }

  #finalinput {
   color: #FF00FF;
   font-weight: bold;
  }

  #drop_zone {
    margin: 0 auto;
    border:2px dotted #0B85A1;
    width:70%;
    color:#92AAB0;
    text-align:center;
    vertical-align:middle;
    padding:10px 50px 10px 50px;
    margin-bottom:50px;
    font-size:200%;
  }
  
/* Desplegable */

  .green {
    color: green;
  }
  
  .cyan {
    color: cyan;
  }
  
  .purple {
    color: purple;
  }

/* Pie de página */

  #piedepagina {
    text-align: center;
    text-shadow: 1.5px 1.5px 1.5px white;
    color: white;
  }
  
  #piedepagina a {
    color: white;
  }
  
  #piedepagina a:hover {
    color: white;
    text-shadow: 1.5px 1.5px 1.5px black, 0px 4px 1px white;
    text-decoration: none;
  }