
/* Fuentes */

  @font-face {
    font-family: 'Andika';
    src: url("fuentes/Andika-R.ttf");
  }
  

  html * {
   font-family: "Arial", sans-serif;
  }

  body {
    background: #183026 url('../images/bg.jpg') no-repeat;
    background-size: cover;
    background-position: center 0;
    background-attachment: fixed;
    margin-left: 20%;
    margin-right: 20%;
  }
  
  h1 {
    font-family: Andika;
    font-size: 80px;
    text-shadow: 0px 0px 8px white;
    color: 3A3B43;
    text-align: center; 
  }
  
  p {
    color: white;
    font-size: 18px;
    text-align: justify;
    text-indent: 0.8em;
  }
  
  a {
    text-decoration: none;
    color: #A9A9F5;
    font-size: 22 px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  ul li {
    color: #A9D0F5;
    text-align: justify; 
  }
  
  footer {
    position:fixed;
    left:0;
    bottom:0;
    height:20px;
    width:100%;
    
    padding: 0.6em 0 0.6em 0;
    box-shadow: inset 0px 10px 60px 0px rgba(255,255,255,0.15);
  }
  
.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }

th, td        { vertical-align: top; text-align: left; }   
/* #finaltable  * { color: white; background-color: black; }   */

/* #finaltable table { border-collapse:collapse; } */
/* #finaltable table, td { border:1px solid white; } */
#finaltable:hover td { background-color: blue; } 
tr:nth-child(odd)    { background-color:#eee; }
tr:nth-child(even)    { background-color:#00FF66; }
input        { text-align: right;  border: none;       }     /* Align input to the right  */
textarea     { border: outset; border-color: white;       }                        
table        { border: inset; border-color: white; }
.hidden      { display: none; }
.unhidden    { display: block; }
table.center { margin-left:auto; margin-right:auto; }
#result      { border-color: red; }
tr.error       { background-color: red; }
pre.output   { background-color: white; }
span.repeated { background-color: red }
span.header { background-color: blue }
span.comments { background-color: orange }
span.blanks { background-color: green }
span.nameEqualValue { background-color: cyan }
span.error { background-color: red }

body
{
 background-color:#b0c4de;  /* blue */
}

/* Desplegable */

  .green {
    color: green;
  }
  
  .cyan {
    color: cyan;
  }
  
  .purple {
    color: purple;
  }
  
/* Contenido */

  #contenido {
    padding-bottom: 60px;
  }

/* Pie de página */

  #piedepagina {
    text-align: center;
    text-shadow: 1.5px 1.5px 1.5px white;
    color: white;
  }
  
  #piedepagina a {
    color: white;
  }
  
  #piedepagina a:hover {
    color: white;
    text-shadow: 1.5px 1.5px 1.5px black, 0px 4px 1px white;
    text-decoration: none;
  }