<!DOCTYPE html>
<html>
  <head>

    <title>Ficheros INI</title>
    <meta name="Author" content="Cristo González Rodríguez - alu0100694987 | Sawan J. Kapai Harpalani - alu0100694765" />  
    <meta name="Description" content="Analizador de ficheros INI" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/global.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="ini.js" type="text/javascript"></script>
    
    <!-- Plantilla underscore -->
    <script type="text/html" id="template"><li> <span class = "<%= token.type %>"> <%= match %> </span></script>
    
  </head>
  <body>
    <h1>INI files</h1>
    <input type="file" id="fileinput" />
    <div id="out" class="hidden">
    <table>
      <tr><th>Original</th><th>Tokens</th></tr>
      <tr>
        <td>
          <pre class="input" id="initialinput"></pre>
        </td>
        <td>
          <pre class="output" id="finaloutput"></pre>
        </td>
      </tr>
    </table>
    </div>
    
    <!-- Footer -->
    
    <footer>
      <div id="piedepagina">
        Pr&aacute;ctica - Ficheros INI | <a href="index.html">http://alu0100694987.github.io/p2-pdl/</a> | alu0100694987 - alu0100694765
      </div>
    </footer>
    
  </body>
</html>
