<!DOCTYPE html>

  <head>
  
    <title>Ficheros INI</title>
    <meta name="Author" content="Cristo González Rodríguez - alu0100694987 | Sawan J. Kapai Harpalani - alu0100694765" />  
    <meta name="Description" content="Analizador de ficheros INI" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/global.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="script/ini.js" type="text/javascript"></script>
    <script src="script/texto.js" type="text/javascript"></script>
    
    <!-- Plantilla underscore -->
    <script type="text/html" id="template"><li> <span class = "<%= token.type %>"> <%= match %> </span></script>
    
  </head>
  
  <body>

  <div id="contenido">
    <h1>Ficheros INI</h1>
    
    <p>Acceso a las pruebas: <a href="tests/index.html">Pruebas</a></p>
    <p>Acceso al repositorio GitHub del proyecto: <a href="https://github.com/alu0100694987/p3-pdl">Repositorio GitHub</a></p>
    
    <ul>
      <li> Los archivos INI se pueden utilizar para guardar la configuraci&oacute;n b&aacute;sica del usuario. Con la unidad INIfiles (que forma parte de la FCL) y la clase TINIFile se puede 
        trabajar f&aacute;cilmente con los archivos INI. </li>
      <li> Se utilizan corchetes para incluir secciones, donde se encuentran las claves y sus correspondientes valores. </li>
      <li> Una clave debe estar separada de su valor mediante el s&iacute;mbolo '='. </li>
      <li> Los nombres de secci&oacute;n se escriben entre corchetes '[UnaSeccion]'. </li>
      <li> Los comentarios deben estar precedidos por punto y coma: ';', al inicio de la l&iacute;nea. </li>
	</ul>
	
	<p> Actualmente, los ficheros INI no son tan populares como los archivos XML, debido a que no manejan con facilidad grandes cadenas 
	 de texto, sin embargo, archivos similares a los INI, son usados comunmente en configuraciones Linux/Unix.</p>
	
	<div id="ejemplo">
	
	  <p> Ejemplo de fichero INI: [ <a href="#" onclick="cambiar('texto'); return false;">mostrar/ocultar</a> ] </p>
	  
	  <div id="texto" style="display: none">
	    <fieldset> 
          <p class='green'>; Comment. Beginning of INI file</br>
          <p class='green'>; empty lines are ignored</br></br>
          <p class='green'>; note that no section has been defined.</p>
          <p class='cyan'>Compiler=Delphi</p>
          <p class='green'>; Key: Compiler</p>
          <p class='green'>; Value: Delphi</br></p>
          <p>[General]</p>
          <p class='green'>; This starts a General section<br></p>
          <p class='cyan'>Compiler=FreePascal</p>
          <p class='green'>; Key Compiler and value FreePascal</p>
	    </fieldset>
	    
	  </div>   
	</div>
	
	
	<!-- Carga de Fichero -->
	<p> Indique un fichero INI: <input type="file" id="fileinput" /></p>
    
    
    <!-- Drag & Drop -->
    <div id="drop_zone">Arrastre un fichero a la ventana</div>
    <output id="list"></output>
    
    <script>
    
      function cambiarLinea(evt) {
        $(this).css('border', '2px solid #0B85A1');
      }
      
      function handleDragOver(evt) {
      
        evt.stopPropagation();
        evt.preventDefault();
        evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
        var files = evt.dataTransfer.files; 
        var output = [];
        
        for (var i = 0, f; f = files[i]; i++) {
          output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
          f.size, ' bytes, &uacute;ltima vez modificado: ',
          f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
          '</li>');
          document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
        }
        $(this).css('border', '2px dotted #0B85A1');
      }
      
      // Escuchas
      var dropZone = document.getElementById('drop_zone');
      dropZone.addEventListener('dragover', handleDragOver, false);
      dropZone.addEventListener('drop', calculate, false); // Llamada a la función 'calculate' tras soltar un archivo
      dropZone.addEventListener('drop', cambiarLinea, false);
      
    </script>
    
    <!-- Tabla Resultado -->
    
    <div id="out" class="hidden">

      <table>
        <tr><th>Original</th><th>Tokens</th></tr>
        <tr>
          <td>
            <pre class="input" id="initialinput"></pre>
          </td>
          <td>
            <pre class="output" id="finaloutput"></pre>
          </td>
        </tr>
      </table>
    </div>
  </div>
    
    <!-- Footer -->
    
    <footer>
      <div id="piedepagina">
        Pr&aacute;ctica: Ficheros INI - PDL | <a href="index.html">https://github.com/alu0100694987/p3-pdl/</a> <br>
        <!-- Cristo Gonz&aacute;lez Rodr&iacute;guez <a href ="alu0100694987@ull.edu.es">alu0100694987@ull.edu.es</a> Sawan J. Kapai Harpalani <a href="alu0100694765@ull.edu.es">alu0100694765@ull.edu.es</a>--> 
      </div>
    </footer>
  </body>

</html>